<!--The content below is only a placeholder and can be replaced.-->

<div class="body_container" align = "center">
  <div >
  <h1>
    Welcome to My App!
  </h1>
</div>
  
<div>
  
 <form  [formGroup] = "groceryList" (ngSubmit) = "getGroceryList(groceryList)" >
  <mat-form-field > 
     <input matInput formControlName = "listItem" type = "text" placeholder= "Enter item name" >
   </mat-form-field> 
   
 </form>
</div>
<div>
  <button mat-button type = "submit" (click) = "clearDiv()">New List</button>  
</div>

 <div *ngIf = "displayList1" >
   <mat-list role = "list" class = "display_list">
   <mat-list-item role="listitem" *ngFor = "let item of displayList1"   >
   <span>{{item}}</span>
   </mat-list-item>
   </mat-list>
 </div>

</div>
