/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.body__container {
 
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
  }